{% extends "layout.html" %} {% block title %} Changes {% endblock %} {% block main %}

<div class="panel-group"> 
    <!-- Start of Parties -->
    <div class="panel panel-default">
            
        <div class="panel-heading panel-main" data-toggle="collapse" data-target="#parties">
            <h3 class="panel-title">Parties</h3>
        </div>
            
        <div id="parties" class="panel-collapse collapse">
            <div class="panel panel-default panel-side">
                    <div class="panel-heading" data-toggle="collapse" data-target="#list-parties">
                        <h4 class="panel-title">
                            Current Parties
                        </h4>
                    </div>
                    <div id="list-parties" class="panel-collapse collapse">
                        <ul class="list-group">
                            {% for party in parties %}
                            <li class="list-group-item">{{ party.party }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            <div class="panel panel-default panel-side">
                    <form action="{{ url_for('add_party') }}" method="post">
                        
                            <div class="form-group form-inline">
                                <input autocomplete="off" autofocus class="form-control" name="add_party" placeholder="Add Party" type="text" />
                            </div>
                            <div class="form-group form-inline">
                                <button class="btn btn-default" type="submit">Add</button>
                            </div>
                        
                    </form>
                </div>
                
            <div class="panel panel-default panel-side">
                    <form action="{{ url_for('del_party') }}" method="post">
                        
                            <div class="form-group form-inline">
                                <select autofocus class="form-control" name="del_party" type="text">
                                    <option selected>Delete Party</option>
                                    {% for party in parties %}
                                    <option value="{{ party.party }}">{{ party.party }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group form-inline">
                                <button class="btn btn-default" type="submit">Delete</button>
                            </div>
                        
                    </form>
                </div>
                
        </div>
    </div>
    <!-- Start of Areas -->    
    <div class="panel panel-default">
            
        <div class="panel-heading panel-main" data-toggle="collapse" data-target="#areas">
            <h3 class="panel-title">Areas</h3>
        </div>
            
        <div id="areas" class="panel-collapse collapse">
            <div class="panel panel-default panel-side">
                <div class="panel-heading" data-toggle="collapse" data-target="#list-areas">
                    <h4 class="panel-title">Current Areas</h4>
                </div>
                <div id="list-areas" class="panel-collapse collapse">
                    <ul class="list-group">
                        {% for area in areas %}
                        <li class="list-group-item">{{ area.area }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default panel-side">
                <form action="{{ url_for('add_area') }}" method="post">
                    
                        <div class="form-group form-inline">
                            <input autocomplete="off" autofocus class="form-control" name="add_area" placeholder="Add Area" type="text" />
                        </div>
                        <div class="form-group form-inline">
                            <button class="btn btn-default" type="submit">Add</button>
                        </div>
                        
                </form>
            </div>
                
            <div class="panel panel-default panel-side">
                <form action="{{ url_for('del_area') }}" method="post">
                    
                        <div class="form-group form-inline">
                            <select autofocus class="form-control" name="del_area" type="text">
                                <option selected><span id="default-option">Delete Area</span></option>
                                {% for area in areas %}
                                <option value="{{ area.area }}">{{ area.area }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <button class="btn btn-default" type="submit">Delete</button>
                        </div>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- Start of Scales -->
    <div class="panel panel-default">
            
        <div class="panel-heading panel-main" data-toggle="collapse" data-target="#scales">
            <h3 class="panel-title">Scales</h3>
        </div>
            
        <div id="scales" class="panel-collapse collapse">
            <div class="panel panel-default panel-side">
                <div class="panel-heading" data-toggle="collapse" data-target="#list-scales">
                    <h4 class="panel-title">Current Scales</h4>
                </div>
                <div id="list-scales" class="panel-collapse collapse">
                    <ul class="list-group">
                        {% for scale in scales %}
                        <li class="list-group-item">{{ scale.scale }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default panel-side">
                <form action="{{ url_for('add_scale') }}" method="post">
                    
                        <div class="form-group form-inline">
                            <input autocomplete="off" autofocus class="form-control" name="add_scale" placeholder="Add Scale" type="text" />
                        </div>
                        <div class="form-group form-inline">
                            <button class="btn btn-default" type="submit">Add</button>
                        </div>
                        
                </form>
            </div>
                
            <div class="panel panel-default panel-side">
                <form action="{{ url_for('del_scale') }}" method="post">
                    
                    <div class="form-group form-inline">
                        <select autofocus class="form-control" name="del_scale" type="text">
                            <option selected>Delete Scale</option>
                            {% for scale in scales %}
                            <option value="{{ scale.scale }}">{{ scale.scale }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <button class="btn btn-default" type="submit">Delete</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- Start of Positions  -->
    <div class="panel panel-default">
            
        <div class="panel-heading panel-main" data-toggle="collapse" data-target="#positions">
            <h3 class="panel-title">Positions</h3>
        </div>
            
        <div id="positions" class="panel-collapse collapse">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#list-positions">
                    <h4 class="panel-title">Current Positions</h4>
                </div>
                <div id="list-positions" class="panel-collapse collapse">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Title</td>
                                <td>Link</td>
                                <td>Term Length</td>
                                <td>Term Limit</td>
                                <td>Description</td>
                                <td>Scale</td>
                                <td>Area</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for position in positions %}
                            <tr>
                                <td>{{ position.title }}</td>
                                <td><a href="{{ position.link }}">{{ position.link }}</a></td>
                                <td>{{ position.term_length }}</td>
                                <td>{{ position.term_limit }}</td>
                                <td>{{ position.description }}</td>
                                <td>{{ position.scale }}</td>
                                <td>{{position.area }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <form action="{{ url_for('change_position') }}" method="post">
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="position_edit" type="text">
                            <option selected value="add">Add</option>
                            <option value="delete">Delete</option>
                            <option value="edit">Edit</option>
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="position" type="text">
                            <option selected value="default">Select Position</option>
                            <option value="new">New</option>
                            {% for position in positions %}
                            <option value="{{ position.id }}">{{ position.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-small">
                        <input autocomplete="off" autofocus class="form-control" name="position_title" placeholder="Title" type="text" />
                    </div>
                    
                    <div class="form-group form-inline form-small">
                        <input autocomplete="off" autofocus class="form-control" name="position_link" placeholder="Link" type="url" />
                    </div>
                    
                    <div class="form-group form-inline form-small">
                        <input autocomplete="off" autofocus class="form-control" name="position_length" placeholder="Term Length (0 = Lifetime)" type="number" min="0"/>
                    </div>
                    
                    <div class="form-group form-inline form-small">
                        <input autocomplete="off" autofocus class="form-control" name="position_limit" placeholder="Term Limit (0 = None)" type="number" min="0"/>
                    </div>
                    
                    <div class="form-group form-inline form-large">
                        <textarea class="form-control" name="position_description" rows="1" placeholder="Description" type="text"></textarea>
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="position_scale" type="text">
                            <option selected>Select Scale</option>
                            {% for scale in scales %}
                            <option value="{{ scale.id }}">{{ scale.scale }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="position_area" type="text">
                            <option selected>Select Area</option>
                            {% for area in areas %}
                            <option value="{{ area.id }}">{{ area.area }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-large">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>
    <!-- Start of Officials -->
    <div class="panel panel-default">
            
        <div class="panel-heading panel-main" data-toggle="collapse" data-target="#officials">
            <h3 class="panel-title">Officials</h3>
        </div>
            
        <div id="officials" class="panel-collapse collapse">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#list-officials">
                    <h4 class="panel-title">Current Officials</h4>
                </div>
                <div id="list-officials" class="panel-collapse collapse">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Position</td>
                                <td>Party</td>
                                <td>Term Start</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for official in officials %}
                            <tr>
                                <td>{{ official.name }}</td>
                                <td>{{ official.title }}</td>
                                <td>{{ official.party }}</td>
                                <td>{{ official.term_start }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <form action="{{ url_for('change_official') }}" method="post">
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="official_edit" type="text">
                            <option selected value="add">Add</option>
                            <option value="delete">Delete</option>
                            <option value="edit">Edit</option>
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="official" type="text">
                            <option selected value="default">Select Official</option>
                            <option value="new">New</option>
                            {% for official in officials %}
                            <option value="{{ official.name }}">{{ official.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <input autocomplete="off" autofocus class="form-control" name="official_name" placeholder="Name" type="text" />
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <input class="form-control" type="date" name="official_start" placeholder="Term Start">
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="official_position" type="text">
                            <option selected>Select Position</option>
                            {% for position in positions %}
                            <option value="{{ position.id }}">{{ position.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-medium">
                        <select autofocus class="form-control" name="official_party" type="text">
                            <option selected>Select Party</option>
                            {% for party in parties %}
                            <option value="{{ party.id }}">{{ party.party }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group form-inline form-large">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}